* {

    font-variant-caps: petite-caps;

}

.formularioContainer {
    background-image: linear-gradient(to  left,#04070c3a,#f1fafc,#0a090956 );
    width: 85%;
    margin: auto;
    margin-top: 0.25rem;
    height: auto;
    border: 2.2px solid rgba(17, 17, 16, 0.226);


}


.titleContainer h1 {
    text-align: center;
    color: rgba(7, 7, 7, 0.801);

}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.formRegister {

    width: 450px;
    /*     display: flex;
    flex-wrap: wrap;
    flex-direction: column */
    ;
    gap: 0.5vh;

}

input {
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    width: 22rem;

}

.textContainerform {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.textContainerform p a {
    font-weight: bold;
    color: #000000cb;

}

.errorText {
    color: rgb(8, 2, 2);
    text-align: center;


}

.editTextArea {

    border-radius: 5px;
    border: 2px SOLID rgb(2, 1, 1);
 
}

.editCampos {
    display: flex;
    width: auto;
    height: 3.4rem;
}

.opcionHabitacion,
.opcionPersonas {
    margin: 0.15rem;
    padding: 1px;
border-radius: 4px;
}






.submit {
    display: flex;
    justify-content: center;
    margin-left: 6rem;
    margin-bottom: 10px;


    padding: 2px;
    width: 200px;
    background-color: rgba(143, 145, 117, 0.548);
    color: rgb(243, 233, 233);
    border: 1px soild white;
}

.submit:hover {
    transition: 0.5s all;
    background-color: rgb(218, 209, 209);
    border: 1px solid rgb(235, 220, 220);
    color: rgb(3, 3, 3);
}


/*---------540px max-w @media*/
@media(max-width:540px) {

    .main{
           background-color: rgba(44, 117, 47, 0.089);
           display: block;
           
          
        
    }

    input{
        width:13rem;
       margin-left: 90px;
    }

    .formularioContainer{
width:auto;
background-image: linear-gradient(to  left,#04070c02,#f1fafc11,#0a090918 );

    }
    label {
        padding: 2.5px;
        font-size: 22px;
display: flex; 
}
textarea{
width: 17.6rem;
}
.submit{
display: flex;
background-color: rgba(0, 0, 0, 0.658);
width: 5.5rem;
}
.textContainerform p{


width:18rem;
margin-right: 4.6rem;
font-size: 14.4px;

}
.errorText{
margin-left: 0rem;


}



}

   






