* {
    box-sizing: border-box;
    font-family:serif;
 
}

.contenedorCarousel img {
    height: 83.5vh;
    width: auto;
    border-top: 0.10rem solid rgb(255, 255, 255);
    border-bottom: 0.10rem solid rgba(197, 195, 195, 0.884);

}

.carousel-caption 
h5 {
    font-family: 'Times New Roman', Times, serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:transparent;
    color: rgba(253, 237, 237, 0.952);
    font-weight: bold;
    font-size: 23Px;
}




/*---------900px max-w @media*/
@media(max-width:900px) {
    .imgEit p ,h6  {
        font-size: 18px;
        color:rgb(255, 255, 255);
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        h6{
display: flex;
width: 40rem;
        }
    }
    /*---------550px max-w @media*/
@media(max-width:550px) {
    h6{
        display: flex;
        width: 20rem;
        margin-left: 0.1px;
        background-color: rgba(208, 214, 235, 0);
    
                }
    

}
