* {
    box-sizing: border-box;
    font-family:serif;
}


.conteinerIntro {
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
    margin: 5px;
    width: auto;
    /* border: 0px solid rgba(90, 226, 11, 0.055); */

}

.textoConteiner {

    height: auto;
    background-color: rgba(227, 240, 240, 0);
    font-size: large;

    text-align: center;
    font-size: 16.7px;
    line-height: 2.3;
    letter-spacing: 2.5px;
    color: #0c0c0c98;
    width: 67rem;

}

