/* *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 */


.customButtonn{
 
    width:130px;
    height: 2px;
    text-align:center;
    padding-bottom: 1.6rem;
   padding-top:0.1REM;

    border-radius: 30px;
    border-color: rgba(0, 0, 0, 0.171);

    box-shadow: none;
    font-size: 1px;

    margin: 1.5rem;
    cursor:pointer;
}

