*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}




.customButton{
    width:110px;
    height: 30px;
    text-align:center;
    padding-top: 1px;

    border-radius: 30px;
    border-color: rgba(0, 0, 0, 0.171);

    box-shadow: none;
    font-size: 1.2rem;

    margin: 1.5rem;
    cursor: pointer;
}

