* {
    box-sizing: border-box;
    font-family: sans-serif;

}



.main-footer {
    background-image: linear-gradient(to left, #f5f6f7f6, #02531a56, #160d0d00);

    font-size: 15px;
    color: rgba(0, 0, 0, 0.842);

    position: static;
    gap: 90px;

}

.container ul,
li {
    color: rgba(0, 0, 0, 0.705);
    font-size: 15px;
}

.col-sm {

    color: rgba(0, 0, 0, 0.692);
    font-size: 15.5px;
}



/*---------570px max-w @media*/
@media(max-width:600px) {

    .main-footer{
     
       margin-left: 6rem;
    }
/* .container{
margin-left: 5rem;
background-color: black;



} */

}

@media(max-width:483px) {

    .main-footer{
     
       margin-left: 6rem;
    }


}

